.row__posters{
    display:flex; 
    overflow-y: hidden;
    overflow-x: scroll;
    padding-top: 1.8rem;
    user-select: none;
    cursor: pointer;
   
}
.row{
    color:white;
    padding-top: 1.8rem;
    margin-left: 1.8rem;;
}
.row__posters::-webkit-scrollbar{
    display: none;
}
.row__poster{
    object-fit: contain;
    
    max-height: 350px;
    margin-right: 20px;
    transition: transform 450ms;
}

.row__posterLarge{
    max-height: 500px;
}
.row__poster:hover{
    transform: scale(1.08);
}